label {
    display: inline-block; 
    width: 5em;
}
em {
  	display: inline-block;
  	width: 225px;
  	height: 35px;
  	line-height: 2.3;
  	text-align: center;
}
div {
	height: 60px;
}
.alert .alert-info {
	padding: 0;
	margin:0;
}